{% extends "basic.html" %}

{% block body %}

    <!-- <div class="container vertical-center mt-100 mb-100"> -->
    <div class="container mt-100 mb-100">
        <div class="row mx-auto">
            <div class="col-lg-4 col-md-2 col-sm-0"></div>
            <div class="col-lg-4 col-md-8 col-sm-12">
                <div class="card">
                    <div class="card-body">

                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}" role="alert">
                                        {{message}}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                        <h5 class="card-header">Change password</h5><br>

                        <form method="post" action="/update_password">
                            <label>Current password</label><br>
                            <input type="password" class="form-control" name="current-password"><br>
                            <label>New password</label><br>
                            <input type="password" class="form-control" name="new-password"><br>
                            <label>Retype new password</label><br>
                            <input type="password" class="form-control" name="retype-new-password"><br>
                            <input type="submit" class="btn btn-primary btn-block btn-lg" name="update-record" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-2 col-sm-0"></div>
        </div>
    </div>

{% endblock %}