{% extends "basic.html" %}

{% block body %}

    <div class="container vertical-center mt-100 mb-100">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-header">Add or update records</h5><br>
                        <!-- <h5 class="card-title">Add or Update Records</h5> -->
                        <form method="post" action="/add_update_records">
                            <label>Miles</label>
                            <input type="number" class="form-control" name="miles" value={{ most_recent_mileage }}><br>
                            <label>Date & Time</label><br>
                            <input type="datetime-local" class="form-control" name="datetime" value="{{ current_time }}"><br>
                            <div class="row">
                                <div class="col-sm-6 gutter-5">
                                    <input type="submit" class="btn btn-secondary btn-block btn-lg" name="view-records" value="View records">
                                </div>
                                <div class="col-sm-6 gutter-5">
                                    <input type="submit" class="btn btn-primary btn-block btn-lg" name="add-record" value="Add record">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="card mt-25" style="margin-bottom: 25px;">
                    <div class="card-body">
                        <h5 class="card-header">Goal information</h5><br>
                        <!-- <h5 class="card-title">Goal Information</h5> -->
                        <form method="post" action="/update_goal">
                            <div class="row">
                                <div class="col-sm-4 gutter-5">
                                    <label>Start Miles</label>
                                    <input type="number" class="form-control" name="start-miles" value={{ goal["start_miles"] }}><br>
                                </div>
                                <div class="col-sm-8 gutter-5">
                                    <label>Start Date</label><br>
                                    <input type="date" class="form-control" name="start-date" value={{ goal["start_date"] }}><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 gutter-5">
                                    <label>End Miles</label>
                                    <input type="number" class="form-control" name="end-miles"value={{ goal["end_miles"] }}><br>
                                </div>
                                <div class="col-sm-8 gutter-5">
                                    <label>End Date</label><br>
                                    <input type="date" class="form-control" name="end-date"value={{ goal["end_date"] }}><br>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary btn-block btn-lg" value="Update">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <!-- <h1 class="text-light display-4 mt-100" style="font-size: 80px;">Track your mileage</h1> -->

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-header">Analysis</h5><br>
                        <p class="card-text">
                            You have {{ analysis['budget'] }} miles budgeted, with a daily allowance of {{ analysis['daily'] }} miles.
                        </p>
                        <p class="card-text">
                            As of the time of your last record, you are {{ analysis['overage'] }} miles {{ analysis['over-under'] }} your allowance.</p>
                    </div>
                </div>

                <div class="card mt-25">
                    <div class="card-body">
                        <h5 class="card-header">Mileage over time</h5>
                        <div class="chart" id="total-mileage">
                            <script>
                                var graphs = {{total_mileage_plot | safe}};
                                var config = {
                                    responsive: true,
                                    scrollZoom: true,
                                };
                                var layout = {
                                    xaxis: {
                                        title: 'Date',
                                        titlefont: {
                                            family: 'Arial, sans-serif',
                                            size: 14,
                                            color: 'grey',
                                        },
                                    },
                                    yaxis: {
                                        title: 'Miles',
                                        titlefont: {
                                            family: 'Arial, sans-serif',
                                            size: 14,
                                            color: 'grey',
                                        },
                                    },
                                    legend: {
                                        x: 0.025,
                                        xanchor: 'left',
                                        y: 0.975,
                                    },
                                    margin: {
                                        l: 60,
                                        r: 40,
                                        b: 60,
                                        t: 20,
                                    }
                                };
                                Plotly.plot(
                                    'total-mileage',
                                    graphs,
                                    layout,
                                    config,
                                );
                            </script>
                        </div>
                    </div>
                </div>

                <div class="card mt-25">
                    <div class="card-body">
                        <h5 class="card-header">Mileage change day to day</h5>
                        <div class="chart" id="daily-change">
                            <script>
                                var graphs = {{daily_change_plot | safe}};
                                var config = {
                                    responsive: true,
                                    scrollZoom: true,
                                };
                                var layout = {
                                    xaxis: {
                                        title: 'Date',
                                        titlefont: {
                                            family: 'Arial, sans-serif',
                                            size: 14,
                                            color: 'grey',
                                        },
                                    },
                                    yaxis: {
                                        title: 'Mileage change',
                                        titlefont: {
                                            family: 'Arial, sans-serif',
                                            size: 14,
                                            color: 'grey',
                                        },
                                    },
                                    legend: {
                                        x: 0.025,
                                        xanchor: 'left',
                                        y: 0.975,
                                    },
                                    margin: {
                                        l: 60,
                                        r: 40,
                                        b: 60,
                                        t: 20,
                                    }
                                };
                                Plotly.plot(
                                    'daily-change',
                                    graphs,
                                    layout,
                                    config,
                                );
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}