<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

    <title>Mileage Tracker</title>
  </head>
  <body class="bg-nav">
    <nav class="navbar">
        <a href="" class="navbar-brand text-light">Mileage Tracker</a>
        <div class="nav-menu">
            <span class="navbar-text text-light">
                Hello, {{ user }}!
            </span>
            <!-- <button class="btn btn-secondary my-2 my-sm-0" type="submit"><a class="nav-link" href="/logout">Log out</a></button> -->
            <button class="btn btn-outline-light my-2 my-sm-0 ml-2"><a class="text-light" href="/logout">Log out</a></button>
        </div>
    </nav>

    <div class="container vertical-center">
        <div class="row">
            <div class="col-md-4">
                <div class="card mt-100">
                    <div class="card-body">
                        <h5 class="card-header">Add or Update Records</h5><br>
                        <!-- <h5 class="card-title">Add or Update Records</h5> -->
                        <form method="post" action="/add_update_records">
                            <label>Miles</label>
                            <input type="number" class="form-control" name="miles"><br>
                            <label>Date & Time</label><br>
                            <input type="datetime-local" class="form-control" name="datetime"><br>
                            <div class="row">
                                <div class="col-sm-6 gutter-5">
                                    <input type="submit" class="btn btn-secondary btn-block btn-lg" name="view-records" value="View records">
                                </div>
                                <div class="col-sm-6 gutter-5">
                                    <input type="submit" class="btn btn-primary btn-block btn-lg" name="add-record" value="Add record">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="card mt-25 mb-100">
                    <div class="card-body">
                        <h5 class="card-header">Goal Information</h5><br>
                        <!-- <h5 class="card-title">Goal Information</h5> -->
                        <form method="post" action="/update_goal">
                            <div class="row">
                                <div class="col-sm-4 gutter-5">
                                    <label>Start Miles</label>
                                    <input type="number" class="form-control" name="start-miles" value={{ goal["start_miles"] }}><br>
                                </div>
                                <div class="col-sm-8 gutter-5">
                                    <label>Start Date</label><br>
                                    <input type="date" class="form-control" name="start-date" value={{ goal["start_date"] }}><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 gutter-5">
                                    <label>End Miles</label>
                                    <input type="number" class="form-control" name="end-miles"value={{ goal["end_miles"] }}><br>
                                </div>
                                <div class="col-sm-8 gutter-5">
                                    <label>End Date</label><br>
                                    <input type="date" class="form-control" name="end-date"value={{ goal["end_date"] }}><br>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary btn-block btn-lg" value="Update">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h1 class="text-light display-4 mt-100" style="font-size: 80px;">Track your mileage</h1>
                <!-- <h1 class="text-light display-4 mt-100 mb-100" style="font-size: 80px;">Track your mileage every day</h1> -->
                <!-- <h1 class="text-light display-4 mt-100 mb-100" style="font-size: 80px;">Track your mileage every day</h1> -->
                <!-- <div class="chart" id="bargraph">
                    <script>
                        var graphs = {{plot | safe}};
                        Plotly.plot('bargraph',graphs,{});
                    </script>
                </div> -->

                <!-- <div class="chart" id="bargraph">
                    <script>
                        var graphs = {{plot | safe}};
                        Plotly.plot('bargraph',graphs,{});
                    </script>
                </div> -->

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-header">Mileage over time</h5>
                        <div class="chart" id="total-mileage">
                            <script>
                                var graphs = {{plot | safe}};
                                var config = {
                                    responsive: true,
                                    scrollZoom: true,
                                };
                                var layout = {
                                    xaxis: {
                                        title: 'Date',
                                        titlefont: {
                                            family: 'Arial, sans-serif',
                                            size: 14,
                                            color: 'grey',
                                        },
                                    },
                                    yaxis: {
                                        title: 'Miles',
                                        titlefont: {
                                            family: 'Arial, sans-serif',
                                            size: 14,
                                            color: 'grey',
                                        },
                                    },
                                    legend: {
                                        x: 0.025,
                                        xanchor: 'left',
                                        y: 0.975,
                                    },
                                    margin: {
                                        l: 60,
                                        r: 40,
                                        b: 60,
                                        t: 20,
                                        // pad: 4,
                                    }
                                };
                                Plotly.plot(
                                    'total-mileage',
                                    graphs,
                                    layout,
                                    config,
                                );
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>