{% extends "basic.html" %}

{% block body %}

    <!-- <div class="container-fluid vertical-center mt-100 mb-100" style="background-color: red;"> -->
    <div class="container mt-100 mb-100">
        <!-- <div class="row mx-auto"> -->
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-header">Add or update records</h5><br>
                        <form method="post" action="/add_update_records">
                            <label>Miles</label>
                            <input type="number" class="form-control" name="miles" value={{ most_recent_mileage }}><br>
                            <label>Date & Time</label><br>
                            <input type="datetime-local" class="form-control" name="datetime" value="{{ current_time }}"><br>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-8 gutter-5">
                                    <input type="submit" class="btn btn-secondary btn-block btn-lg" name="view-records" value="View records">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-4 gutter-5 col-sm-mt">
                                    <input type="submit" class="btn btn-primary btn-block btn-lg" name="add-record" value="Add record">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="card mt-25" style="margin-bottom: 25px;">
                    <div class="card-body">
                        <h5 class="card-header">Goal information</h5><br>
                        <form method="post" action="/update_goal">
                            <div class="row">
                                <div class="col-sm-4 gutter-5">
                                    <label>Start Miles</label>
                                    <input type="number" class="form-control" name="start-miles" value={{ goal["start_miles"] }}><br>
                                </div>
                                <div class="col-sm-8 gutter-5">
                                    <label>Start Date</label><br>
                                    <input type="date" class="form-control" name="start-date" value={{ goal["start_date"] }}><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 gutter-5">
                                    <label>End Miles</label>
                                    <input type="number" class="form-control" name="end-miles"value={{ goal["end_miles"] }}><br>
                                </div>
                                <div class="col-sm-8 gutter-5">
                                    <label>End Date</label><br>
                                    <input type="date" class="form-control" name="end-date"value={{ goal["end_date"] }}><br>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary btn-block btn-lg" value="Update">
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-header">Analysis</h5><br>
                        <div class="text-center">
                            <p class="card-text">
                                {% if not analysis['valid'] %}
                                <h4 class="card-title text-center">Please enter a goal to see the analysis.</h4>
                                <p class="card-text text-center">
                                    Once you have entered a goal, you will be able to view the number of miles you can safely use.
                                    You will also be able to see how many miles you can drive per day.
                                </p>
                                <p class="card-text text-center">
                                    Once you have added some records, more detailed statistics and plots will be available to you.
                                </p>

                                {% else %}

                                {% if analysis['budget'] and analysis['daily'] %}
                                <h4>Over the course of your goal, you have</h4>
                                <h4 class="neutral">{{ analysis['budget'] }} miles</h4>
                                <h4>budgeted, which leaves you</h4>
                                <h4 class="neutral">{{ analysis['daily'] }} miles</h4>
                                <h4>to use each day.</h4>
                                {% endif %}
                                
                                {% if analysis['overage'] and analysis['over-under'] %}
                                <br><hr><br>
                                <h4>As of your most recent record,</h4>
                                <h4>you are currently</h4>
                                <h2 class="{{ analysis["over-under"] }}">
                                    {{ analysis['overage'] }} miles {{ analysis['over-under'] }}
                                </h2>
                                <h4>your allowance.</h4>
                                {% endif %}

                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>

                {% if total_mileage_plot %}
                <div class="card mt-25">
                    <div class="card-body">
                        <h5 class="card-header">Mileage over time</h5>
                        <div class="chart" id="total-mileage">
                            <script>
                                var graphs = {{total_mileage_plot | safe}};
                                var config = {
                                    responsive: true,
                                    // scrollZoom: true,
                                    displayModeBar: false,
                                    displaylogo: false,
                                    modeBarButtonsToRemove: [
                                        'hoverClosestCartesian',
                                        'hoverCompareCartesian',
                                        'toggleSpikelines',
                                        'toImage',
                                    ],
                                };
                                var layout = {
                                    xaxis: {
                                        title: 'Date',
                                        titlefont: {
                                            family: 'Arial, sans-serif',
                                            size: 14,
                                            color: 'grey',
                                        },
                                    },
                                    yaxis: {
                                        title: 'Miles',
                                        titlefont: {
                                            family: 'Arial, sans-serif',
                                            size: 14,
                                            color: 'grey',
                                        },
                                    },
                                    legend: {
                                        x: 0.025,
                                        xanchor: 'left',
                                        y: 0.975,
                                    },
                                    margin: {
                                        l: 60,
                                        r: 40,
                                        b: 60,
                                        t: 20,
                                    },
                                    fig_bgcolor: 'rgb(255, 255, 255)',
                                    plot_bgcolor: 'rgba(0, 0, 0, 0)', 
                                    paper_bgcolor: 'rgba(0, 0, 0, 0)'
                                };
                                Plotly.plot(
                                    'total-mileage',
                                    graphs,
                                    layout,
                                    config,
                                );
                            </script>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if daily_change_plot %}
                <div class="card mt-25">
                    <div class="card-body">
                        <h5 class="card-header">Mileage change day to day</h5>
                        <div class="chart" id="daily-change">
                            <script>
                                var graphs = {{daily_change_plot | safe}};
                                var config = {
                                    responsive: true,
                                    // scrollZoom: true,
                                    displayModeBar: false,
                                    displaylogo: false,
                                    modeBarButtonsToRemove: [
                                        'hoverClosestCartesian',
                                        'hoverCompareCartesian',
                                        'toggleSpikelines',
                                        'toImage',
                                    ],
                                };
                                var layout = {
                                    xaxis: {
                                        title: 'Date',
                                        titlefont: {
                                            family: 'Arial, sans-serif',
                                            size: 14,
                                            color: 'grey',
                                        },
                                    },
                                    yaxis: {
                                        title: 'Mileage change',
                                        titlefont: {
                                            family: 'Arial, sans-serif',
                                            size: 14,
                                            color: 'grey',
                                        },
                                    },
                                    legend: {
                                        x: 0.025,
                                        xanchor: 'left',
                                        y: 0.975,
                                    },
                                    margin: {
                                        l: 60,
                                        r: 40,
                                        b: 60,
                                        t: 20,
                                    },
                                    fig_bgcolor: 'rgb(255, 255, 255)',
                                    plot_bgcolor: 'rgba(0, 0, 0, 0)', 
                                    paper_bgcolor: 'rgba(0, 0, 0, 0)'
                                };
                                Plotly.plot(
                                    'daily-change',
                                    graphs,
                                    layout,
                                    config,
                                );
                            </script>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}