{% extends "landing.html" %}

{% block body %}

    <div class="container vertical-center">
        <div class="row w-100 mx-auto vertical-margins">
            <div class="col-md-8">
                <h1 class="text-light slogan-lg">Many Miles</h1>
                <h3 class="text-dark slogan-md">Keep track of your mileage</h3>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-header">Create an account</h5><br>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-danger" role="alert">
                                        {{message}}
                                    </div>
                                    <br>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <form method="post" action="/add_user">
                            <label>Username</label>
                            <input type="text" class="form-control" name="add-username"><br>
                            <label>Password</label><br>
                            <input type="password" class="form-control" name="add-password"><br><br>
                            <input type="submit" class="btn btn-primary btn-block btn-lg" value="Register">
                        </form>
                        <p class="mt-2">Already have an account? <a href="/">Log in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}