{% extends "basic.html" %}

{% block body %}

    <!-- <div class="container vertical-center mt-100 mb-100"> -->
    <div class="container mt-100 mb-100">
        <div class="row mx-auto">
            <div class="col-lg-4 col-md-2 col-sm-0"></div>
            <div class="col-lg-4 col-md-8 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/app">Home</a></li>
                                <li class="breadcrumb-item"><a href="/records">Records</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Update Record</li>
                            </ol>
                        </nav>

                        <h5 class="card-header">Update record</h5><br>
                        <form method="post" action="/update_record?record={{ record["id"] }}">
                            <label>Miles</label>
                            <input type="number" class="form-control" name="update-miles" value={{ record["miles"] }}><br>
                            <label>Date & Time</label><br>
                            <input type="datetime-local" class="form-control" name="update-datetime" value="{{ record["datetime"] }}"><br>
                            <input type="submit" class="btn btn-primary btn-block btn-lg" name="update-record" value="Update record">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-2 col-sm-0"></div>
        </div>
    </div>

{% endblock %}