{% extends "basic.html" %}

{% block body %}

    <!-- <div class="container vertical-center mt-100 mb-100"> -->
    <div class="container vertical-center">
        <div class="row mx-auto">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-header">Update record</h5><br>
                        <form method="post" action="/update_record?record={{ record["id"] }}">
                            <label>Miles</label>
                            <input type="number" class="form-control" name="update-miles" value={{ record["miles"] }}><br>
                            <label>Date & Time</label><br>
                            <input type="datetime-local" class="form-control" name="update-datetime" value="{{ record["datetime"] }}"><br>
                            <input type="submit" class="btn btn-primary btn-block btn-lg" name="update-record" value="Update record">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}